[package]
name = "structural-typing"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
structural-typing-macros.workspace = true

[dev-dependencies]
